.logo {
    font-family: DancingScript;
}

.main-nav li {
    /* height: 100%; */
    width: 75px;
    /* height: 10vh;
    width: 10vh;
    background-color: rgba(238, 205, 144, 0.4);
    border: 1px solid rgb(173, 170, 170); */
}
.main-nav a {
    color: rgb(109, 109, 223);
} 