* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    color: white;
    /* color: rgb(167, 167, 241); */
    text-decoration: none;
}
a:hover {
    /* color: rgb(39, 107, 42); */
    color: rgb(251, 255, 0);
}