@font-face {
    font-family: 'DancingScript';
    src: url('../fonts/Dancing_script/DancingScript-Regular.ttf');
}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat/Caveat-Regular.ttf');
}