.card .title {
    font-size: 1.75rem;
}

.projects-container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.card {
    background-color: white;
    box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.2);
    border-radius: 7.5px;
    width: 300px;
    /* height: 500px; */
    margin: 15px;
    overflow: hidden;
    transition: 0.3s;
    position: relative;
}
/* .card:hover {
    transform: scale(1.0075);
} */

.card header {
    background-color: rgb(250, 173, 128);
    padding: 10px;
    /* height: 10%; */
    height: 50px;
}

.card img {
    width: 100%;
    /* height: 50%; */
    height: 250px;
    object-fit: cover;
}
.card .proj-info {
    /* min-height: 50px; */
    /* height: 50%; */
    height: 200px;
    padding: 10px;
}


.card a:not(:hover) {
    /* color: rgb(167, 167, 241); */
    color: rgb(96, 96, 240);
}

.card a:hover {
    color: rgb(255, 81, 0);
    /* color: rgb(129, 129, 226); */
}

.proj-info >* {
    margin-bottom: 5px;
}
.proj-info .links >* {
    margin: 5px;
}